<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/side-bar.css">
    <link rel="stylesheet" href="/main-edit.css">
    <link rel="stylesheet" href="/main.css">
</head>

<body>
                <div class="tabletitlecontainer">
<h3 class="tabletitle">EDITAR</h3>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center min-vh-200">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Editar usuario</h1>
                    </div>
                    <div class="card-body">
                        <form action="/registro-usuarios/update-usuarios/{{userId}}" method="POST">
                            <!-- Campos para editar la información del usuario -->
                            <div class="form-group">
                                <label class="title-bold" for="usuario">Usuario:</label>
                                <input type="text" id="usuario" name="usuario" class="form-control"
                                    value="{{userData.usuario}}" required><br>
                            </div>
                            <div class="form-group">
                                <label class="title-bold" for="password">Nueva Contraseña:</label>
                                <input type="password" id="password" name="password" class="form-control"><br>
                                <!-- Eliminamos el "required" para permitir actualizar sin cambiar la contraseña -->
                            </div>
                            <div class="form-group">

                                <label class="title-bold" for="master">Tipo de usuario:</label>
                                <select class="form-control" id="master" name="master">
                                    <option value="false" {{#if userData.master}}selected{{/if}}>Administrador</option>
                                    <option value="true" {{#if userData.master}}selected{{/if}}>Super-Administrador</option>
                                </select><br>

                                <button class="btn btn-primary btn-block" type="submit">Guardar Cambios</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>