<!-- index-usuarios.hbs -->

<head>
  <title>Inicio</title>
  <!-- Incluye jQuery antes de tu archivo JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/client.js"></script>

  <!-- Asegúrate de incluir las referencias necesarias -->
</head>

<body>
  <label for="">Index.hbs (Inicio)</label>
</body>

<script>
  
</script>