<!-- index-usuarios.hbs -->

<head>
    <title>Usuarios</title>
    <!-- Asegúrate de incluir las referencias necesarias -->
</head>

<body>
    <div id="userCards">
        {{#each users}}
            <div class="user-card">
                <h3>Usuario: {{id}}</h3>
                <div class="documents">
                    <a href="/usuarios/pacientes/{{id}}" target="_blank">Ver documentos</a>
                </div>
            </div>
        {{/each}}
    </div>
</body>
