<div class="container-fluid bg-custom-primary text-white text-center">
    <h2 class="py-3">HADAL Administraci칩n</h2>
</div>

<div class="container align-middle">
    <div class="card">
        <div class="card-header bg-custom-primary text-white text-center">
            <h2>Inicio de Sesi칩n</h2>
        </div>
        <div class="card-body">
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="username">Usuario:</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Contrase침a:</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-custom-primary btn-block">Iniciar Sesi칩n</button>
            </form>
        </div>
    </div>
</div>
