.bg-custom-primary {
    background-color: #1BC0B2;
}

.container-fluid {
    position: absolute;
}

.body {
    height: 100vh;
    position: relative;
    background-color: #F4FFFE;    
}

/* Centrar verticalmente el formulario */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;

}

/* Estilo para la barra superior azul */
.bg-custom-primary {
    background-color: #1BC0B2;
    /* Cambia este color según tus preferencias */
    color: #fff;
    /* Color del texto en la barra */
}

/* Estilo para el botón de Iniciar Sesión */
.btn-custom-primary {
    background-color: #1BC0B2;
    /* Cambia este color según tus preferencias */
    border-color: #1BC0B2;
    color: #fff;
}

.btn-custom-primary:hover {
    background-color: #15908f;
    /* Cambia el color al pasar el mouse si lo deseas */
    border-color: #15908f;
    color: #fff;

}

.logoHadal{
    width: 250px;
    height: 250px;
}

.cardRedondo{
    border-radius: 20px;
}

/* Otros estilos personalizados según tus necesidades */

.admintitle {
    color: var(--primario-1);
    font-weight: 500;
    color: #235365;
    font-size: 24px;}


    .texto-black {
        font-weight: 700; /* Black */
      }

.custom-shadow {
        /*border: 1px solid black;*/
        box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 30px;
    }

.cardborde{
    border: none;
    padding:    30px;
}

.btnfont{
    font-weight: 700;
}

.logoHadal{
    width: 150px;
    height: 150px;
}