.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.image-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.image-option input[type="radio"] {
    display: none;
}

.image-option input[type="radio"]:checked+.icon-option {
    border-bottom: 2px solid #1BC0B2;
    /* Solo se aplica un borde en la parte inferior */
    border-radius: 0;
    /* Remueve cualquier borde redondeado */
}

.icon-option {
    max-width: 50px;
    max-height: 50px;
    margin: 5px;
    padding-bottom: 2px;
    /* Añade espacio para el borde inferior */
    transition: border-color 0.3s ease-in-out;
}

.icon-option:hover {
    transform: scale(1.1);
    /* Agrega un efecto de escala ligero al hacer hover */
}

.title-bold {
    font-weight: bolder;
}

.non-bold {
    font-weight:lighter;
}

.details label.card-text {
    display: block;
}

.btn-hide-show {
    background-color: #1FBAAF;
    border: #1FBAAF;
    border-color: #1FBAAF;
}

.icon-procedure {
    display: flex;
    align-items: flex-start;
}

.icon-option {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
    /* Ajusta el margen según sea necesario */
    padding-bottom: 2px;
    /* Añade espacio para el borde inferior */
}

.procedure-label {
    flex-grow: 1;
    margin-top: 5px;
    /* Agrega un margen superior de 10px */
}

.edit-bold {
    font-weight: bold;
}



.custom-bg-color {
    background-color: #1BC0B2;
    color: #FFFFFF;
    /* Cambia el color a tu elección */
    border: none;
    cursor: inherit;
    line-height: inherit;
}


.right-align {
    text-align: right;
}


option:checked {
    font-weight: bold;
    text-decoration: underline;
}


option:focus {
    background-color: red;
}

.icono-actual {
    width: 35px;
}

h1 {
    margin-bottom: 30px;

}

.tabletitle{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    color: #FFFFFF;
    vertical-align: center;
}

.tabletitlecontainer{
    background-color: #1FBAAF;
    height: 60px;
    border-radius: 3px;
    margin-bottom: 30px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); /* Ajusta los valores según tus preferencias */
    transition: box-shadow 0.3s ease-in-out;


    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */

}


.disponible {
    color: green;



  }
  
  .agotado {
    color: red;

  }