body {
    overflow-x: hidden;

}

#wrapper {
    transition: all 0.3s ease;
    position: relative;
}

#sidebar-wrapper {
    min-height: 100vh;
    /* margin-left: -15rem; */
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    position: relative;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#page-content-wrapper {
    min-width: 100vw;
}

/* Personaliza la apariencia de la barra lateral */
.sidebar-heading {
    padding: 1rem;  
    font-weight: 700;
    text-align: center;
    background-color: #F4FFFE;
    color: #000328;
    text-transform:uppercase;
    font-size: 20px;
    position: relative;
}

.list-group-item {
    border: none;
    border-radius: 0;
    color: #000328;
    font-size: 16px;
}

.dropdown-item{
    font-size: 16px;
}

.list-group-item:hover {
    background-color: #f8f9fa;
    cursor: pointer;
    font-size: 16px;
}

/* Estilo adicional para el contenido principal */
.container-fluid {
    padding-top: 1rem;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
}

.backcolor{
    background-color: #F4FFFE;
}

.separator{
    border-bottom: 5px solid #1FBAAF; 
    width: 100%; 
    text-align: center;
}

.texto-light{
    font-weight: 500px;
}