<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hadal Administración</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/side-bar.css" />
    <script src="/js/client.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/client.js"></script>
    <link rel="icon" href="images/icono.svg" type="svg+xml" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <script src="/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
        <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap">
  

</head>

<body>


    <div class="d-flex" id="wrapper">
        <!-- Barra lateral MAIN -->
        <div class="border-right colorside" id="sidebar-wrapper">
            
            <div class="text-center colorside">
                <img class="logoMenu" src="logo.svg" alt="Logo Hadal"/>
            </div>

            <div class="sidebar-heading separator">Administración777</div>
            <div class="    list-group list-group-flush">
                <a href="/" class="list-group-item list-group-item-action">Inicio</a>
                <div class="dropdown">
                    <a href="#" class="list-group-item list-group-item-action dropdown-toggle" data-toggle="dropdown">
                        Servicios
                    </a>
                    <div class="dropdown-menu">
                        <a href="/servicios-basicos" class="dropdown-item">Servicios Básicos</a>
                        <a href="/servicios-intermedios" class="dropdown-item">Servicio Intermedios</a>
                        <a href="/servicios-avanzados" class="dropdown-item">Servicio Avanzados</a>
                        <!-- Agrega más elementos de servicio aquí -->
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#" class="list-group-item list-group-item-action dropdown-toggle" data-toggle="dropdown">
                        Usuarios
                    </a>
                    <div class="dropdown-menu">
                        <a href="/usuario-paciente" class="dropdown-item">Pacientes</a>
                        <a href="/usuario-enfermera" class="dropdown-item">Enfermeras</a>
                        <a href="/registro-usuarios" class="dropdown-item">Registrar</a>
                        <!-- Agrega más elementos de servicio aquí -->
                    </div>
                </div>
                <a id="logoutButton" class="list-group-item list-group-item-action">Cerrar Sesión</a>

                <!-- Agrega más elementos de la barra lateral aquí -->
            </div>
        </div>
        <!-- Contenido principal -->
        <div id="page-content-wrapper colorside">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
</div>
                        {{{body}}}
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>